<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="ui/favicon.png">
    <script type="text/javascript" src="bower_components/angular/angular.min.js">
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script src="ui/modules/sockjs-client/dist/sockjs-1.1.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="ui/app.js"></script>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
	<script src="ui/modules/ng-stomp/dist/ng-stomp.standalone.min.js"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">

	
	<style>
        .animated:hover {
            animation: shakeX;
            /* referring directly to the animation's @keyframe declaration */
            animation-duration: 1s;
            /* don't forget to set a duration! */
        }

        html,
        body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .card:hover {
            background-color: rgb(196 200 205);
        }

        .card {
            transition: color 0.8s linear 0.2s;
        }

        .navbar .nav-item:not(:last-child) {
            margin-right: 35px;
        }

        .dropdown-toggle::after {
            transition: transform 0.15s linear;
        }

        .show.dropdown .dropdown-toggle::after {
            transform: translateY(3px);
        }

        .loader-page {
            position: fixed;
            z-index: 25000;
            background: rgb(255, 255, 255);
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .3s ease;
        }

        .loader-page::before {
            content: "";
            position: absolute;
            border: 2px solid rgb(50, 150, 176);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-sizing: border-box;
            border-left: 2px solid rgba(50, 150, 176, 0);
            border-top: 2px solid rgba(50, 150, 176, 0);
            animation: rotarload 1s linear infinite;
            transform: rotate(0deg);
        }

        @keyframes rotarload {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }

        .loader-page::after {
            content: "";
            position: absolute;
            border: 2px solid rgba(50, 150, 176, .5);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            box-sizing: border-box;
            border-left: 2px solid rgba(50, 150, 176, 0);
            border-top: 2px solid rgba(50, 150, 176, 0);
            animation: rotarload 1s ease-out infinite;
            transform: rotate(0deg);
        }
        /*desde aca*/
         .navbar {
	        display: flex;
	        justify-content: space-between;
	        align-items: center;
	        padding: 10px 50px; 
	        background-color: rgb(94, 204, 247);
	        height: 70px; 
	        position: fixed; 
	        width: 100%; 
	        z-index: 1000; 
	    }

	    .navbar img {
	        height: 60px;
	        width: auto;
	    }

        .user-initials {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #007bff;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            cursor: pointer;
        }

        .user-popup {
            position: absolute;
            top: 60px;
            right: 50px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            display: none;
            z-index: 1000;
        }

        .user-popup ul {
            list-style: none;
            margin: 0;
            padding: 10px;
        }

        .user-popup ul li {
            margin-bottom: 10px;
        }

        .user-popup ul li a {
            text-decoration: none;
            color: #333;
            display: block;
            padding: 5px;
        }

        .user-popup ul li a:hover {
            background-color: #f5f5f5;
        }
        
        .user-popup ul li hr {
		    margin: 5px 0;
		    border: none;
		    border-top: 1px solid #ccc;
		}

		.user-popup ul li a i {
		    margin-left: 10px;
		}
		
		.user-popup ul li.user-info {
		    color: grey;
		    text-align: center;
		    font-size: 0.9em;  /* Reducir el tamaño de la fuente */
		}

    </style>
    
    <script>
        function toggleUserPopup() {
            const popup = document.getElementById('userPopup');
            if (popup.style.display === 'block') {
                popup.style.display = 'none';
            } else {
                popup.style.display = 'block';
            }
        }
    </script>

</head>

<body ng-app='iw3' style="font-family: Arial;" ng-controller='controllerPedidos'>
	<div id="contenedor">
        <div class="loader-page"></div>
    </div>
     <div class="navbar">
        <img src="ui/logo.png" alt="Logo" />
        <div class="user-initials" onclick="toggleUserPopup()">{{ userData.iniciales }}</div>
        <div class="user-popup" id="userPopup">
            <ul>
                <li class="user-info">{{ userData.fullname }}</li>
                <li class="user-info">{{ userData.email }}</li>
                <li class="user-info">Rol: Administrador</li>
                <li><hr></li>
               <li><a href="#" ng-click='cerrarSesion()'>Cerrar sesión <i class="bi bi-box-arrow-right"></i></a></li>
            </ul>
        </div>
    </div>
    
    <i class="bi bi-person-circle"></i>
    
    <div style="margin-top:50px;width: 97%; height: 100%;">
        <div id="divPrinc" class="container-fluid" style="display: inline; flex: 1;height: 100%;text-align: center; ">
            <div class="row">
                <div class="col-xl-4 xs-12">
                    <button data-toggle="modal" data-target="#modalProb" style="border-style: none; background-color: transparent;" ng-click="problematica()">
                        <div class="card" id="card1"
                            style="width: 100%; height: 250px; margin-left: 20px; text-align: center;">
                            <img src="ui/argentina.png" style="width: 35%;align-self: center; margin-top: 10px;"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">PROBLEMATICA</h5>

                            </div>
                        </div>
                        </a>
                </div>
                <div class="col-xl-4 xs-12">
                    <button data-toggle="modal" data-target="#modalEstimulos" ng-click="estimulos()"
                        style="border-style: none; background-color: transparent;">
                        <div class="card" id="card2"
                            style="width: 100%; height: 250px; margin-left: 20px; text-align: center;">
                            <img src="ui/estimulo.png" style="width: 35%;align-self: center; margin-top: 10px;"
                                class="card-img-top" alt="...">
                            <div class="card-body" style="margin-bottom: 5px;">
                                <h5 class="card-title">ESTIMULOS</h5>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-xl-4 xs-12">
                    <button data-toggle="modal" data-target="#modalNuevoDocumento"
                        style="border-style: none; background-color: transparent;">
                        <div class="card" id="card3"
                            style="width: 100%; height: 250px; margin-left: 20px; text-align: center;">
                            <img src="ui/documento.png" style="width: 35%;align-self: center; margin-top: 10px;"
                                class="card-img-top" alt="...">
                            <div class="card-body" style="margin-bottom: 5px;">
                                <h5 class="card-title">NUEVO DOCUMENTO</h5>

                            </div>
                        </div>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 xs-12">
                    <button data-toggle="modal" data-target="#modalNuevoEstimulo"
                        style="border-style: none; background-color: transparent;" ng-click="nuevoEstimulo()">
                        <div class="card"
                            style="width: 100%; height: 250px; margin-left: 20px;margin-top: 20px; text-align: center;">
                            <img src="ui/agregar.png" data-toggle="modal" data-target="#modalNuevoEstimulo"
                                style="width: 35%;align-self: center; margin-top: 10px;" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">NUEVO ESTIMULO</h5>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-xl-4 xs-12">
                    <button data-toggle="modal" data-target="#modalNotif" style="border-style: none; background-color: transparent;" ng-click="notificaciones()">
                        <div class="card"
                            style="width: 100%; height: 250px; margin-left: 20px;margin-top: 20px; text-align: center;">
                            <img src="ui/notificaciones.png" style="width: 35%;align-self: center; margin-top: 10px;"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">NOTIFICACIONES</h5>

                            </div>
                        </div>
                    </button>
                </div>
                <div class="col-xl-4 xs-12">
                    <button style="border-style: none; background-color: transparent;" ng-click="consultas()">
                        <div class="card"
                            style="width: 100%; height: 250px; margin-left: 20px;margin-top: 20px; text-align: center;">
                            <img src="ui/consulta.png" style="width: 35%;align-self: center; margin-top: 10px;"
                                class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">CONSULTAS</h5>

                            </div>
                        </div>
                        </consultas>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="modalNuevoDocumento" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #8ac8ff">
                    <h5 class="modal-title" id="H1">NUEVO DOCUMENTO</h5>
                    <button type="button" onclick="cerrarModalNuevoDocumento()"
                        style="border-color: transparent; background-color: transparent;" data-mdb-dismiss="modal"
                        aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
                <div class="modal-body" style="background-color: #cbe7ff; font-size: small;">
                    <form>
                        <div class="container-fluid">

                            <div class="row">
                                <div class="col l4">
                                    <label for="estimulo" class="form-label">Estímulo asociado</label>

                                    <select id="estimulo" class="form-control" aria-label="Default select example" required>

                                         <option *ngFor="let est of Estimulos" [value]="est">{{ est.titulo }}</option>
                                    </select>
                                </div>

                                <div class="col l4">

                                    <label for="destinatario" class="form-label">Destinatario</label>
                                    <select id="destinatario" class="form-control" aria-label="Default select example"
                                        required>

                                        <option value="1">Ministerio de salud</option>
                                        <option value="2">Ministerio de economia</option>
                                        <option value="3">Ministerio de educación</option>
                                        <option value="4">Ministerio de seguridad</option>
                                    </select>


                                </div>

                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col l4">
                                    <label for="tipoDoc" class="form-label">Tipo de documento</label>
                                    <select id="tipoDoc" class="form-control" aria-label="Default select example" required ng-model="tipoDoc" ng-change="cambiarVisibilidadDiv()">

                                        <option value="1">Decreto</option>
                                        <option value="2">Informe</option>
                                        <option value="3">Solicitud</option>
                                        <option value="4">Volante</option>
                                    </select>
                                </div>
                                <div class="col l4" style="margin-top: 35px;" ng-show="mostrarDiv">
                                    <div class="form-check">

                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                        <label id="final" class="form-check-label" for="flexCheckDefault" style="margin-top: 2px;">
                                            Final
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col l12">
                                    <label for="tituloDoc" class="form-label">Título del documento</label>
                                    <input class="form-control" id="tituloDoc" type="text"
                                        placeholder="Título del documento" aria-label="default input example" required>

                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col l12">
                                    <label for="cuerpoDoc" class="form-label">Cuerpo del
                                        documento</label>
                                    <textarea class="form-control" placeholder="Cuerpo del documento"
                                        id="cuerpoDoc" rows="3" required></textarea>
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="row">
                            <div class="col l12" style="text-align: center;">

                                <button class="btn btn-primary" ng-click='nuevoDoc()' id="estado1">Enviar</button>
                            </div>


                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modalNuevoEstimulo" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #8ac8ff">
                    <h5 class="modal-title" id="H1">NUEVO ESTIMULO</h5>
                    <button type="button" onclick="cerrarModalNuevoEstimulo()"
                        style="border-color: transparent; background-color: transparent;" data-mdb-dismiss="modal"
                        aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
                <div class="modal-body" style="background-color: #cbe7ff; font-size: small;">
                    <form>
                        <div class="container-fluid">
                            <div class="row" style="margin-top: 10px;">
                                <div class="col l12">
                                    <label for="titulo" class="form-label">Título del estímulo</label>
                                    <input class="form-control" id="tituloEstimulo" type="text"
                                        placeholder="Título del documento" aria-label="default input example" required>

                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col l12">

                                    <label for="descripcionEstimulo" class="form-label">Descripción</label>
                                    <textarea class="form-control" placeholder="Descricpión"
                                        id="descripcionEstimulo" rows="7" required></textarea>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px;">
                                <div class="col l2">
                                    <label for="fechaEstFinEstimulo" class="form-label">Fecha estimada de finalización</label>
                                    <div class="input-group date" data-provide="fechaEstFinEstimulo">

                                        <input type="date" class="form-control" id="fechaEstFinEstimulo" required>
                                        <script>
											document.getElementById('fechaEstFinEstimulo').min = new Date().toISOString().split('T')[0];
										</script>
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-th"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col l2">
                                    <label for="horaEstFinEstimulo" class="form-label">Hora estimada de finalización</label>
                                    <input type="time" class="form-control" id="horaEstFinEstimulo" value="10:05 AM" required />
                                </div>
                            </div>

                        </div>
                        <br />
                        <div class="mb-3 form-check">
                            <button class="btn btn-primary" ng-click='nuevoEst()' id="estado1">Enviar</button>

                        </div>


                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modalEstimulos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #8ac8ff">
                    <h5 class="modal-title" id="H1">ESTIMULOS ABIERTOS</h5>
                    <button type="button" onclick="cerrarModaEstimulos()"
                        style="border-color: transparent; background-color: transparent;" data-mdb-dismiss="modal"
                        aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
                <div class="modal-body" style="background-color: #ffffff; font-size: small;">
                    <form>
                        <div class="container-fluid" style="font-size: 12px;">
                            <p style=" font-size: 20px;">Total de estimulos: {{total}} </p>
                            <img src="ui/lupa.jpg" width="40" class="rounded float-left" alt="">
                            <input class="form-control form-control-sm mr-3" style="width: 200px;" type="text"
                                placeholder="Buscar" aria-label="Search" ng-model="FiltroEstimulos.valor">
                            <table id="tabla1" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">

                                            Número de estímulo

                                        </th>
                                        <th scope="col">

                                            Título

                                        </th>
                                        <th scope="col">Fceha inicio</th>
                                        <th scope="col">Fecha estimada de finalización</th>
                                        <th scope="col"></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='o in Estimulos | filter:FiltroEstimulos.valor track by $index'>
                                        <td>
                                            {{ o.id }}
                                        </td>
                                        <td>
                                            {{o.titulo}}
                                        </td>
                                        <td>
                                            {{o.fechaInicio}}
                                        </td>
                                        <td>
                                            {{o.fechaFin}}
                                        </td>
                                        <td>
                                            <button class="btn btn-link" ng-click="verDocumentos($index);"
                                                style=" color:#8ac8ff; font-size: 12px;" id="conciliacion">Ver
                                                Docs.</button>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />



                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modalNotif" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #8ac8ff">
                    <h5 class="modal-title" id="H1">NOTIFICACIONES</h5>
                    <button type="button" onclick="cerrarModalNotif()"
                        style="border-color: transparent; background-color: transparent;" data-mdb-dismiss="modal"
                        aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
                <div class="modal-body" style="background-color: #ffffff; font-size: small;">
                    <form>
                        <div class="container-fluid" style="font-size: 12px;">
                            
                            <table id="tabla1" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">

                                            Descripción

                                        </th>
                                        <th scope="col">

                                            Fecha

                                        </th>
                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat='n in Notificaciones'>
                                        <td>
                                            {{ n.descripcion }}
                                        </td>
                                        <td>
                                            {{n.fecha}}
                                        </td>
                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="modalProb" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header" style="background-color: #8ac8ff">
                    <h5 class="modal-title" id="H1">DESCRIPCIÓN DE LA PROBLEMÁTICA</h5>
                    <button type="button" onclick="cerrarModalProb()"
                        style="border-color: transparent; background-color: transparent;" data-mdb-dismiss="modal"
                        aria-label="Close"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                            <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg></button>
                </div>
                <div class="modal-body" style="background-color: #ffffff; font-size: small;">
                    <form>
                        <div class="container-fluid" style="font-size: 12px;">
                            <textarea class="form-control" id="descripcionProblematica" disabled="true" rows="20"></textarea>
                        </div>
                        <br />
                    </form>
                </div>

            </div>
        </div>
    </div>


</body>


</html>